<!DOCTYPE html>
<html>

<head>
    <title>My Site</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body class="blue-grey darken-7">
    <div class="container">

        <% include partials/nav %>

        <div class="row">
            <form class="col s12" id="myForm">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="icon_prefix" type="text" name="item" class="validate">
                        <label for="icon_prefix">Add new item in list</label>
                    </div>
                    <div class="input-field col s2">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Add
                        </button>

                        <button class="btn waves-effect waves-light" type="submit" name="action">Delete
                        </button>

                        <button class="btn waves-effect waves-light" type="submit" name="action">Update
                        </button>

                    </div>

            </form>
        </div>

        <div class="row">
            <% mylist.forEach(item=>{ %>
            <div class="col s12 m4" onclick="deleteMe(this)">
                <div class="card blue-grey darken-2">
                    <div class="card-content white-text">
                        <h5><%= item %></h5>
                        <p>Collections allow you to group list objects together.</p>
                    </div>
                    <div class="card-action">
                        <a href="/profile/spouse">Spouse</a>
                        <a href="/profile/son">Kid</a>
                    </div>
                </div>
            </div>
            <% })   %>
        </div>

    </div>



    <script>
        document.getElementById("myForm").onsubmit = (e) => {
            //e.preventDefault();
            const url = "http://localhost:5000/sent";
            var data = new URLSearchParams();
            //console.log(e.target)
            for (const pair of new FormData(e.target)) {
               console.log(pair)
               if(pair[1]){
                data.append(pair[0], pair[1])
               }
               else{
                   console.log('Enter an item')
                   return 
               }
            }
            fetch(url, {
                    method: "post",
                    body: data,

                })
                .then(res => res.json())
                .then(res2 => {
                    location.reload();
                });
        }
    
    
    function deleteMe(item){
        console.log(item)
        fetch('http://localhost:5000/remove'+item.innerHTML,{
        method:"delete"
        }) 
        .then(res => res.json())
        .then(res2 => {
            console.log(res2)
            //location.reload();
        });
    }
    </script>
</body>

</html>