<!DOCTYPE html>
<html>

<head>
    <title>My Site</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body class="blue-grey darken-7">
    <div class="container">

        <% include partials/nav %>

        <div class="row">
            <form class="col s12" id="myForm">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="icon_prefix" type="text" name="item" class="validate">
                        <label for="icon_prefix">Add new item in list</label>
                    </div>
                    <div class="input-field col s6">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Add
                        </button>
                    </div>

            </form>
        </div>

        <div class="row">
            <% mylist.forEach(item=>{ 
            if(item){%>
            <div class="col s12 m4" id='<%= item.id %>' >
                <div class="card blue-grey darken-2">
                    <div class="card-content white-text">
                        <h5 onclick="deleteMe(this)"><%= item %></h5>
                        <p>Collections allow you to group list objects together.</p>
                        <i></i>
                    </div>
                    <div class="card-action">
                        <button class="btn waves-effect waves-dark">Update Item</button>
                        <button class="btn waves-effect waves-dark">Delete Item</button>
                    </div>
                </div>
            </div>
            <%  }   
            })   %>
        </div>

    </div>

    <script src="/js.js"></script>

</body>

</html>